<div class="navbar">
  <div class="container">

    <%= link_to "SO Informed", root_path, :class => "navbar-brand" %>
    <div class="nav-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <% if current_user %>
        <li>
          <%= link_to contacts_path do %>
            Contacts
            <% if current_user.contacts.notifiable.count > 0 %>
            <span class="badge"><%= current_user.contacts.notifiable.count %></span>
            <% end %>
          <% end %>
        </li>
        <% end %>
        <li><%= link_to "Privacy", privacy_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>

      <p class="navbar-text pull-right">
        <% if current_user %>
          Welcome <%= current_user.name %>! (<%= link_to "not you?", session_path, :method => :delete, :class => "navbar-link" %>)
        <% else %>
          <%= link_to image_tag("connect-blue@2x.png", :size => "180x30"), authentication_path %>
        <% end %>
      </p>
    </div>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

  </div>
</div>
