<div class="navbar">
  <div class="container">
    <%= link_to image_tag("logo.png", :size => "156x30"), root_path, :class => "navbar-brand" %>
    <% if current_user %>
    <div class="nav-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Your Contacts", contacts_path %></li>
        <% if admin? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Settings", admin_settings_path %></li>
            <li><%= link_to "Push Test", new_admin_foursquare_checkins_test_path %></li>
          </ul>
        </li>

        <% end %>
      </ul>

      <p class="navbar-text navbar-login-message">
        Welcome <%= current_user.name %>! (<%= link_to "not you?", session_path, :method => :delete, :class => "navbar-link" %>)
      </p>
    </div>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <% end %>

  </div>
</div>
