<% if !contact.persisted? %>
  <h3 class="section-heading">New Contact</h3>
<% end %>

<%= form_for(contact, :html => {:class => "form-contact well"}) do |f| %>
  <div style="padding:0;margin:0;display:inline;"><%= f.hidden_field :notify_state %></div>

  <%= errors_helper contact %>

  <div class="input-group">
    <span class="input-group-addon input-large"><i class="icon-user"></i></span>
    <%= f.text_field :name, :class => "form-control input-large", :placeholder => "name" %>
  </div>

  <div class="input-group">
    <span class="input-group-addon input-large"><i class="icon-phone"></i></span>
    <%= f.telephone_field :phone_number, :class => "input-large", :value => number_to_phone(contact.phone_number), :placeholder => number_to_phone("5555555555") %>
  </div>

  <div class="btn-group btn-group-justified" data-toggle-name="contact[notify_state]" data-toggle="buttons-radio">
  <% Contact::NOTIFY_STATES.each do |notify_value| %>
    <%= notify_state_button notify_value %>
  <% end %>
  </div>

  <div style="display:none;">
    <a href="" class="contact-details-link">More options <i class="icon-caret-down"></i></a>
    <div class="contact-details">
      <strong>How should we include your check-in location?</strong>
      <% Contact::LOCATION_DISPLAYS.each do |location_display| %>
        <div class="radio">
          <label>
            <%= f.radio_button :location_display, location_display %> <%= location_display.to_s.titleize %><%= " (e.g. '#{Contact::LOCATION_DISPLAY_EXAMPLES[location_display]}')" if Contact::LOCATION_DISPLAY_EXAMPLES[location_display] %>
          </label>
        </div>
      <% end %>
    </div>
  </div>

  <%= f.submit contact.persisted? ? "Save" : "Create", :class => "btn btn-large btn-primary btn-block" %>

  <% if contact.persisted? %>
    <%= link_to "Delete contact", contact, class: "delete-contact", method: :delete, data: { confirm: 'Are you sure you want to delete this contact?' } %>
  <% end %>

<% end %>
