<h1>Listing phone_numbers</h1>

<table>
  <tr>
    <th>User</th>
    <th>Text</th>
    <th>Disabled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @phone_numbers.each do |phone_number| %>
  <tr>
    <td><%= phone_number.user_id %></td>
    <td><%= phone_number.text %></td>
    <td><%= phone_number.disabled %></td>
    <td><%= link_to 'Show', phone_number %></td>
    <td><%= link_to 'Edit', edit_phone_number_path(phone_number) %></td>
    <td><%= link_to 'Destroy', phone_number, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Phone number', new_phone_number_path %>
