<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @phone_number.user_id %>
</p>

<p>
  <b>Text:</b>
  <%= @phone_number.text %>
</p>

<p>
  <b>Disabled:</b>
  <%= @phone_number.disabled %>
</p>


<%= link_to 'Edit', edit_phone_number_path(@phone_number) %> |
<%= link_to 'Back', phone_numbers_path %>
