<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="<%= image_path("favicon.png") %>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SoInformed" %></title>
    <%= csrf_meta_tags %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <%= render :template => "shared/navbar" %>
    <div class="main">
      <div class="container">
        <%= flash_banner %>
        <%= yield %>
        <footer>
          <div class="copyright pull-left">
          &copy; SoInformed 2013 | <%= link_to "Privacy", privacy_path %>
          </div>
          <div class="power pull-right">
            <%= link_to image_tag("foursquare-powered.png", :size => "190x20"), "http://foursquare.com", :target => '_blank' %>
            <i class="icon-heart"></i>
            <%= link_to image_tag("twilio-powered.png", :size => "166x31"), "http://twilio.com", :target => '_blank' %>
            <i class="icon-heart"></i>
            <%= link_to image_tag("heroku-powered.png", :size => "88x31"), "http://heroku.com", :target => '_blank' %>
          </div>
        </footer>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
