<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="<%= image_path("favicon.png") %>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SoInformed" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <%= render :template => "shared/navbar" %>
    <div class="main">
      <div class="container">
        <%= flash_banner %>
        <%= yield %>
        <footer>
          <div class="copyright pull-left">
          &copy; SoInformed 2013 | <%= link_to "Privacy", privacy_path %>
          </div>
          <div class="power pull-right">
            <%= sprite_link "logos-foursquare-powered", "http://foursquare.com", :target => '_blank' %>
            <i class="icon-heart"></i>
            <%= sprite_link "logos-twilio-powered", "http://twilio.com", :target => '_blank' %>
            <i class="icon-heart"></i>
            <%= sprite_link "logos-heroku-powered", "http://heroku.com", :target => '_blank' %>
          </div>
        </footer>
      </div>
    </div>
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
    <%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
